.main{
    background-color: #2D2D2D;
    padding: 30px 70px 30px 90px;
    border-radius: 80px;
    height: 100%;
}
.main__label{
    font-family: Dela;
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    color: rgba(255, 255, 255, 1);
    margin-top: 11px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.date{
    font-family: Dela;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #818181;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.transaction__info{
    font-family: Dela;
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
.transaction__money{
    border:1px solid transparent;
    background-color: #565656;
    border-radius: 80px;
    padding:15px 15px;   
}
.transaction__money__text{
    font-family: Dela;
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}