@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Dela+Gothic+One&display=swap');

.main{
    background-color: #2D2D2D;
    padding: 30px 20px 70px 20px;
    border-radius: 100px;
}
.card{
    padding: 40px 20px;
    background-color: plum;
    border-radius: 30px;
    height: 220px;
}
.balance{
    font-family: Dela;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, .6);
}
.balanceNumber{
    font-family: Dela;
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    color: rgba(255, 255, 255, 1);
    margin-top: 11px;
}
.card__infoNumber{
    font-family: Dela;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, .8);
}
.card__infoDate{
    font-family: Dela;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
}
.addInfo{
    margin-top: auto;
}
.arrowDown{
    margin: 20px 0px;
}
.operationBtnActive{
    font-family: Dela;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 20px 0px;
    background: #1A74C8;
    border: 1px solid transparent;
    border-radius: 16px;
    width:190px
}
.operationBtn{
    font-family: Dela;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    padding: 20px 0px;
    background: #C9700A;
    border: 1px solid transparent;
    border-radius: 16px;
    width:190px
}
.limit{
    font-family: Dela;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    margin-bottom: 4px;
}
.main__option{
    font-family: Dela;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
}
.option{
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 11px;
    margin-bottom: 4px;
}
.optionLast{
    padding-bottom: 11px;
}
.modalSuccess{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:auto;
    background-color: #454341;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 90px 120px;
    border-radius: 25px;
    border:1px solid transparent;
}
.successText{
    font-family: "Dela Gothic One", serif !important;
    color: #FFF;
    font-size: 32px !important;
    font-weight: 400 !important;
    margin-left: 45px;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:60%;
    background-color: #454341;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 100px 150px;
    border-radius: 25px;
}
.modal__variant{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%
}
.modal__variant__choice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.modal__variant__choice__text{
    font-family: "Dela Gothic One", serif !important;
    color: #FFF !important;
    font-size: 40px !important;
    font-weight: 400 !important;
}
.modal__text{
    font-family: "Dela Gothic One", serif !important;
    color: #FFF !important;
    margin-bottom: 100px !important;
    font-size: 40px !important;
    font-weight: 400 !important;
}