body{
    padding: 0;
    margin: 0;
    background-color: black;
}

.killME{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.siteContainer{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding: 25px 50px 5px 25px;
    box-sizing: border-box;
}

.contactInfo{
    margin-top: auto;
}